.slick-slider {
  width: 100%;
  height: 100vh;
}

.slick-list,
.slick-track,
.slick-slide,
.slick-slide > div,
.slick-slide img {
  height: 100%;
}

.slick-slide img {
  object-fit: cover;
}

.slick-dots {
  bottom: 20px;
}

.slick-next, .slick-prev {
  cursor: pointer;
  z-index: 2;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  transition: all .35s;
}

.slick-active {
  z-index: 99;
}

.slick-next:hover, .slick-prev:hover {
  opacity: 1;
}

.slick-next:before, .slick-prev:before {
  content: '';
  display: block;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.slick-next {
  right: 28px;
}

.slick-prev {
  left: 28px;
}

.slick-next:before {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(135deg);
}

.slick-prev:before {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.slider-item img {
  width: 100%;
}

.slick-slide .link {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0);
  font-size: 20px;
  z-index: 2;
  border: 2px solid #000;
  color: #000;
  padding: 12px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.35s;
  opacity: 0;
}

.slick-slide .link.white {
  border: 2px solid #fff;
  color: #fff;
}

.slick-slide .link:hover {
  border-color: transparent;
  background: #000;
  color: #fff;
}

.slick-slide .link.white:hover {
  border-color: transparent;
  background: #fff;
  color: #000;
}

.slick-active .link {
  animation: show 1s alternate;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
